p {
  margin-left: 24px;
  margin-top: 18px;
}

.btn {
  margin-top: 12px;
}

.heading {
  margin-top: 24px;
  margin-bottom: 48px;
}

.header {
  margin-bottom: 24px;
}

.credits {
  margin-bottom: 12px;
}

.alert {
  margin-top: 24px;
  display: none;
}

#dropdownDevices {
  margin-bottom: 36px;
}